/* .bg {
   position: fixed;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
 }
 .bg img {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   min-width: 50%;
   min-height: 50%;
 }*/

/*navbar {
  position: fixed;
  z-index: 1 !important;
}*/

/*.nav-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}*/

body {
  scroll-behavior: smooth;
}

.box {
  border-radius: .1rem;
}

#form-columns {
  margin-top: auto;
}

.img-wrapper {
  display: none;
  height: 100.5rem;
  /* height: 100%; */
  overflow-y: scroll;
  /* overflow: auto;
  max-height: 500rem; */
  /* min-height: 70rem; */
}

.img-wrapper::-webkit-scrollbar { 
  width: 0px;
}

.img-wrapper::-webkit-scrollbar-track-piece {
    background-color: transparent
}

#img-column {
  height: 100.5rem;
  overflow-y: scroll;
}

#img-column::-webkit-scrollbar { 
  width: 0px;
}

#img-column::-webkit-scrollbar-track-piece {
    background-color: transparent
}

.img-destination {
  background-size: cover;
  height: 8.5rem;
  width: 100%;
}

div#map.box {
  height: -webkit-fill-available;
  height: fill-available;
  /* height: 100rem; */
}

.detail-box {
  height: 100%;
}

.btn-wrapper {
  margin-top: 1rem;
}